<div class="card">
  <div class="card-header">{{ serverData.name }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ serverData.status }}</h5>
    <p class="card-text">
      {{ serverData.desc }}
    </p>
    <button
      class="btn btn-success"
      (click)="handleServerStatusChange(true)"
      *ngIf="!serverData.status"
    >
      Turn On
    </button>
    <button
      class="btn btn-danger"
      (click)="handleServerStatusChange(false)"
      *ngIf="serverData.status"
    >
      Turn Off
    </button>
  </div>
</div>
